@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #C0B4AB;
  font-family: "Lato", serif;
}

html, body {
  background-color: white;
  max-width: 100vw;
  overflow-x: hidden;
}


/* .section {
  scroll-snap-align: start;
}


.section.full-page {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.snap {
  scroll-snap-type: x mandatory;
} */